@model Samim.ViewModel.VMUserEditPassword

<form id="editPasswordForm">
	<div class="form-group">
		<label asp-for="Password"></label>
		<div class="inner-addon right-addon">
			<a id="eyeButton" href="#" onmousedown="EyeButtonMouseDownFunction()" onmouseup="EyeButtonMouseUpFunction()"><i class="fa fa-eye"></i></a>
			<input id="passwordInput" class="form-control form-control-sm" type="password" asp-for="Password" />
			<span class="text-danger" id="spanPassword"></span>
		</div>
	</div>
	<hr />
	<button type="button" class="btn btn-sm" onclick="SerializeFormAndSendToIndexView()"><span class="fa fa-pen"></span> Change password</button>
</form>


<script>
	$(document).ready(function () {
		$("#EditPasswordModalTitle").html("@Model.UserName"+" :");
	})

	$(document).ready(function () {
		$("#EditPasswordModal").on("hide.bs.modal", function () {
			$("#CreateAndEditModal").modal("show");
		});
	})

	function SerializeFormAndSendToIndexView() {
		var serializedEditPasswordForm = $("#editPasswordForm").serialize();
		var serializedEditPasswordFormList = serializedEditPasswordForm.split("=");
		var onlyPassword = serializedEditPasswordFormList[serializedEditPasswordFormList.length - 1];
		if (onlyPassword == null || onlyPassword == "") {
			$("#spanPassword").html("The Password field is required.");
		} else {
			SetNewPasswordToHiddenInput(onlyPassword);
			$("#EditPasswordModal").modal("hide");
			$("#CreateAndEditModal").modal("show");
		}
	}
</script>